sepxml/srvRefund2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Refund.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Refund.DTO">
    <xs:import schemaLocation="srvRefund1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    <xs:complexType name="ResponseModel">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrCode" />
            <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ReferenceId" type="xs:long" />
            <xs:element minOccurs="0" name="RequestStatus" type="xs:int" /></xs:sequence>
    </xs:complexType>
    <xs:element name="ResponseModel" nillable="true" type="tns:ResponseModel" />
    <xs:simpleType name="ErrCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="InvalidParameter">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AuthenticateUserFail">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Unknown">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Success">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DuplicateRequest" />
            <xs:enumeration value="OriginalAmountIncorrect" />
            <xs:enumeration value="ObjectNotFound">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TransactionStateisFinal">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CardExists">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CardNotFound">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Fatal">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WrongStateForDelete">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TxnIsProcessing">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ErrCode" nillable="true" type="tns:ErrCode" />
    <xs:simpleType name="typeRefundAction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Approve" />
            <xs:enumeration value="Cancel" /></xs:restriction>
    </xs:simpleType>
    <xs:element name="typeRefundAction" nillable="true" type="tns:typeRefundAction" />
</xs:schema>
